html, body {
    margin:0; 
    padding:0; 
    border:0;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    color:#333;
    background: url('../design/background.png') repeat-x top left;
    font-size: 15px;
    line-height: 1;
    text-align: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, a, form#login_form {font-family: Arial, Verdana;}

div#page {
    margin:auto;
    width: 1100px;
}

/*********** top panel ************/
div#top_panel {
    margin: 0;
    padding: 5px 15px;
    width: 100%;
    background: #071f33;
    overflow: hidden;
}

div#top_panel h1, div#top_panel a {
    font-size:20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    margin:0; 
    padding:0;
    color: #a4adc3;
    float: left;
}

div#top_panel a:hover {
    text-decoration: none;
}

div#top_panel form {
    float: right;
    margin:0; 
    padding: 0;
    font-size: 12px;
}

div#top_panel form label {
    color: #eee;
    font-size: 10px;
}

div#top_panel form input[type="text"], div#top_panel form input[type="password"] {
    width:100px;
    margin-right:15px;
}

div#top_panel form button {
    color: #eeeeee;
    font-size: 10px;
    background: #2048a9;
    padding: 4px 10px;
    text-decoration: none;
    border:0;
}

div#top_panel form button:hover {
    background: #3e67c7;
    text-decoration: none;
}

/************ menu ***************/

ul#menu {
    display: block;
    clear: both;
    float: left;
    margin: 0;
    margin-bottom: 120px;
    padding: 30px 0 0 15px;
}

ul#menu>li {
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
}

ul#menu>li h2 {
    color: #071f33;
    font-size: 15px;
    font-weight: normal;
    /*position: absolute;
    top:225px; left:0;*/
    margin:0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

ul#menu>li a {
    display: block;
    /*position: absolute;
    top:0; left:0;*/
    height: 150px;
    font-size: 0;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: top left;
}

ul#menu>li:hover h2 {
    font-weight: bold;
}




ul#menu>li.flight a {
    width:126px;
    background-image: url('../design/flight.png');
}

ul#menu>li.flight h2 {
    margin-left:20px;
}

ul#menu>li.plane a {
    width:204px;
    background-image: url('../design/plane.png');
}

ul#menu>li.plane h2 {
    margin-left:50px;
}

ul#menu>li.steward a {
    width:163px;
    background-image: url('../design/steward.png');
}

ul#menu>li.steward h2 {
    margin-left:40px;
}

ul#menu>li.destination a {
    width:207px;
    background-image: url('../design/destination.png');
}

ul#menu>li.destination h2 {
    margin-left:40px;
}

/*********** content ***************/

div#content {
    /*float: left; - zuzi formular na delku textu, ne 100% width*/
    text-align: left;
    clear: both;
    padding: 10px;
}

div#content h2 {
    margin-top: 0;
}


div#content table th.action {
    width: 10em;
}

div#content form {}

div#content form input, div#content form select {
    max-width:20em;
}

div#content label {}




div#content span.info {
    display:none;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    border-width: 1px;
    border-style: dashed;
    margin: 1em auto;
    border-radius: 5px;
    padding: 7px;
}

div#content span.info.success {
    display: block;
    color: green;
    border-color: green;
    background: #ccffcc;
}

div#content span.info.error {
    display: block;
    color: red;
    border-color: red;
    background: #ffcccc;
}

div#content input, div#content select {
    float: left;
}

div#content span.validation {
    display: block;
    float: left;
    color: #aaa;
    font-size: smaller;
    vertical-align: bottom;
    padding-top: 0.8em;
    margin-left: 1em;
    
}

div#content span.validation.next {
    clear:both;
}

div#content ul.select {
    float: left;
    list-style-position: inside;
    padding-left: 1em;
    color: #333;
    font-size: smaller;
}

p.empty {
    font-style: italic;
    margin-top: 1.5em;
}