<div ng-app="" ng-controller="DestinationController"> 
    <h3>{{ 'destinationManage' | translate }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'id' | translate }}</th>
                <th>{{ 'country' | translate }}</th>
                <th>{{ 'city' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in destinations">
                <td>{{ item.id }}</td>
                <td>{{ item.country }}</td>
                <td>{{ item.city }}</td>
                <td>
                    <a class="btn" href="destination/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn" href="destination/delete/{{item.id}}">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>