<div ng-app="" ng-controller="DestinationController"> 
    <h2>{{ 'destinationManage' | translate }}</h2>
    <span class="info {{result}}">{{ result | translate }}</span>
    
    <a class="btn btn-success" href="index.html#/destination/create">
        <span class="glyphicon glyphicon-plus"></span> {{ 'create' | translate }}
    </a>
    
    <table class="table table-striped" ng-show="destinations.length > 0">
        <thead>
            <tr>
                <th>{{ 'country' | translate }}</th>
                <th>{{ 'city' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in destinations">
                <td>{{ item.country }}</td>
                <td>{{ item.city }}</td>
                <td>
                    <a class="btn btn-default" href="index.html#/destination/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" link="" ng-click="deleteDestination(item.id, ('deleteMsg' | translate))">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p class="empty" ng-hide="destinations.length > 0">{{ 'emptyTable' | translate }}.</p>
</div>