<div ng-app="" ng-controller="FlightController">
    <h2>{{ 'flightCreate' | translate}}</h2>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'id' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.id" ng-disabled="true" placeholder="{{ 'id' | translate }}" class="form-control">
        </div>
      </div> 
        
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'origin' | translate }}</label>
        <div class="col-sm-10">
            <select ng-repeat="item in destinations | orderBy : 'country'" ng-model="flight.origin" class="form-control" id="sel1">
                <option value="{{item.id}} ">{{item.city}}, {{item.country}}</option>
            </select>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'destination' | translate }}</label>
        <div class="col-sm-10">
            <select ng-repeat="item in destinations | orderBy : 'country'" ng-model="flight.destination" class="form-control" id="sel1">
                <option value="{{item.id}} ">{{item.city}}, {{item.country}}</option>
            </select>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'departure' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.departure" placeholder="{{ 'departure' | translate }}" class="form-control">
            <br>
            <span>{{ 'format' | translate }}: yyyy-mm-ddThh:mm:ss.nnn</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'arrival' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.arrival" placeholder="{{ 'arrival' | translate }}" class="form-control">
            <br>
            <span>{{ 'format' | translate }}: yyyy-mm-ddThh:mm:ss.nnn</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'capacity' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.capacity" placeholder="{{ 'capacity' | translate }}" class="form-control">
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'plane' | translate }}</label>
        <div class="col-sm-10">
            <select ng-repeat="item in planes | orderBy : 'type'" ng-model="flight.plane" class="form-control" id="sel1">
                <option value="{{item.id}}">{{item.Type}} {{item.Name}} ({{item.Capacity}})</option>
            </select>
        </div>
     </div>

     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'stewards' | translate }}</label>
        <div class="col-sm-10">
            <select ng-repeat="item in allStewards | orderBy : 'lastName'" ng-model="flight.stewards" class="form-control" id="sel2">
                <option value="{{item.id}}">{{item.FirstName}} {{item.LastName}}</option>
            </select>
        </div>
     </div>
        
     
      <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" ng-disabled="false" ng-click="createFlight()">
              <span class="glyphicon glyphicon-plus"></span>{{ 'create' | translate }}
            </button>
          </div>
      </div>
    </form>
    
</div>