<div ng-app="" ng-controller="FlightController">
    <h2>{{ 'flightCreate' | translate}}</h2>
    <span class="info {{result}}">{{ result | translate }}</span>
    
    <form class="form-horizontal" role="form">        
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'origin' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.origin" ng-change="test()" ng-options="item as (item.city) group by item.country for item in destinations | orderBy : 'country'" class="form-control">
                <option value="">- {{ 'choose' | translate }} -</option>
            </select>
            <span class="validation" ng-show="!flight.origin">{{ 'inputSelect' | translate }}</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'destination' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.destination" ng-change="test()" ng-options="item as (item.city) group by item.country for item in destinations | orderBy : 'country'" class="form-control">
                <option value="">- {{ 'choose' | translate }} -</option>
            </select>
            <span class="validation" ng-show="!flight.destination">{{ 'inputSelect' | translate }}</span>
            <span class="validation next" ng-show="flight.origin && flight.destination && flight.origin == flight.destination">{{ 'inputOriginArrival' | translate }}</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'departure' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.departure" ng-change="test()" placeholder="{{ 'departure' | translate }}" class="form-control datetime">
            <span class="validation" ng-show="!flight.departure">{{ 'inputDateTime' | translate }}</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'arrival' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.arrival" ng-change="test()" placeholder="{{ 'arrival' | translate }}" class="form-control datetime">
            <span class="validation" ng-show="!flight.arrival">{{ 'inputDateTime' | translate }}</span>
            
            <span class="validation next" ng-show="flight.departure  && flight.arrival && !isDateAfter(flight.departure, flight.arrival)">{{ 'inputDepartureArrival' | translate }}</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'capacity' | translate }}</label>
        <div class="col-sm-10">
            <input type="number" ng-model="flight.capacity" ng-change="test()" placeholder="{{ 'capacity' | translate }}" class="form-control">
            <span class="validation" ng-show="flight.capacity == null || flight.capacity < 1">{{ 'inputPositiveNumber' | translate }}</span>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'plane' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.plane" ng-change="test()" ng-options="item as (item.type + ' ' + item.name + ' (' + item.capacity + ')') for item in planes | orderBy : 'type'" class="form-control">
                <option value="">- {{ 'choose' | translate }} -</option>
            </select>
            <span class="validation" ng-show="!flight.plane">{{ 'inputSelect' | translate }}</span>
        </div>
     </div>

     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'stewards' | translate }}</label>
        <div class="col-sm-10">
            <select multiple ng-model="flight.stewards" ng-change="test()" ng-options="item as (item.firstName + ' ' + item.lastName) for item in allStewards | orderBy : 'lastName'" class="form-control">
            </select>
            
            <span class="validation" ng-show="!flight.stewards || !flight.stewards.length">{{ 'inputSelectMore' | translate }}</span>
            
            <ul class="select">
                <li ng-repeat="steward in flight.stewards">{{ steward.firstName + ' ' + steward.lastName }}</li>
            </ul>
            
        </div>
     </div>
        
     
      <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" ng-disabled="error || incomplete" ng-click="createFlight()">
              <span class="glyphicon glyphicon-plus"></span>{{ 'save' | translate }}
            </button>
            <a class="btn btn-default" href="index.html#/flight">
                  <span class="glyphicon glyphicon-chevron-left">{{ 'back' | translate }}</span>
            </a> 
          </div>
      </div>
    </form>
    
</div>

<script>
$('.datetime').datetimepicker({
    mask:'9999/19/39 29:59',
    format:'Y/m/d H:i'
});
</script>