<div ng-app="" ng-controller="FlightController">
    <h2>{{ 'flightDelete' | translate}}</h2>
    <span class="info {{result}}">{{ result | translate }}</span>
    
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'id' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.id" ng-disabled="true" placeholder="{{ 'id' | translate }}" class="form-control">
        </div>
      </div> 
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'origin' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.origin" ng-options="item.id as (item.city) group by item.country for item in destinations | orderBy : 'country'" ng-disabled="true" class="form-control" id="sel1"></select>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'destination' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.destination" ng-options="item.id as (item.city) group by item.country for item in destinations | orderBy : 'country'" ng-disabled="true" class="form-control" id="sel1"></select>
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'departure' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.departure" placeholder="{{ 'departure' | translate }}" ng-disabled="true" class="form-control datetime">
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'arrival' | translate }}</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.arrival" placeholder="{{ 'arrival' | translate }}" ng-disabled="true" class="form-control datetime">
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'capacity' | translate }}</label>
        <div class="col-sm-10">
            <input type="number" ng-model="flight.capacity" placeholder="{{ 'capacity' | translate }}" ng-disabled="true" class="form-control">
        </div>
     </div>
        
     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'plane' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.plane" ng-options="item.id as (item.type + ' ' + item.name + ' (' + item.capacity + ')') for item in planes | orderBy : 'type'" ng-disabled="true" class="form-control" id="sel1"></select>
        </div>
     </div>

     <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'stewards' | translate }}</label>
        <div class="col-sm-10">
            <select ng-model="flight.stewards" ng-options="item.id as (item.firstName + ' ' + item.lastName) for item in allStewards | orderBy : 'lastName'" ng-disabled="true" class="form-control" id="sel2"></select>
        </div>
     </div>
        
     
      <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" ng-disabled="false" ng-click="deleteFlight()">
              <span class="glyphicon glyphicon-trash"></span>{{ 'delete' | translate }}
            </button>
          </div>
      </div>
    </form>
    
</div>

<script>
$('.datetime').datetimepicker({
    mask:'9999/19/39 29:59',
    format:'Y/m/d H:i'
});
</script>