<div ng-app="" ng-controller="FlightController"> 
    <h2>{{ 'flightManage' | translate }}</h2>
    <span class="info {{result}}">{{ result | translate }}</span>
    
    <a ng-controller="LoginController" ng-show="authUser && authUser.privileged" class="btn btn-success" href="index.html#/flight/create">
        <span class="glyphicon glyphicon-plus"></span> {{ 'create' | translate }}
    </a>
    
    <table class="table table-striped" ng-show="flights.length > 0">
        <thead>
            <tr>
                <th>{{ 'origin' | translate }}</th>
                <th>{{ 'destination' | translate }}</th>
                <th>{{ 'departure' | translate }}</th>
                <th>{{ 'arrival' | translate }}</th>
                <th>{{ 'details' | translate }}</th>
                <th class="action" ng-controller="LoginController" ng-show="authUser && authUser.privileged">{{ 'edit' | translate }}</th>
                <th class="action" ng-controller="LoginController" ng-show="authUser && authUser.privileged">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in flights">
                <td>{{ item.origin.city + ', ' + item.origin.country }}</td>
                <td>{{ item.destination.city + ', ' + item.destination.country }}</td>
                <td>{{ item.departure | date:'yyyy/MM/dd HH:mm' }}</td>
                <td>{{ item.arrival | date:'yyyy/MM/dd HH:mm' }}</td>
                <td>
                    <a class="btn btn-info" href="index.html#/flight/detail/{{item.id}}">
                        <span class="glyphicon glyphicon-list-alt"></span> {{ 'details' | translate }}
                    </a>
                </td>
                <td ng-controller="LoginController" ng-show="authUser && authUser.privileged">
                    <a class="btn btn-default" href="index.html#/flight/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td ng-controller="LoginController" ng-show="authUser && authUser.privileged">
                    <a class="btn btn-default" link="" ng-click="deleteFlight(item.id, ('deleteMsg' | translate))">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p class="empty" ng-hide="flights.length > 0">{{ 'emptyTable' | translate }}.</p>
    
</div>