<div ng-app="" ng-controller="FlightController"> 
    <h2>{{ 'flightManage' | translate }}</h2>
    
    <a class="btn btn-success" href="index.html#/flight/create">
        <span class="glyphicon glyphicon-plus"></span> {{ 'create' | translate }}
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'origin' | translate }}</th>
                <th>{{ 'destination' | translate }}</th>
                <th>{{ 'departure' | translate }}</th>
                <th>{{ 'arrival' | translate }}</th>
                <th>{{ 'capacity' | translate }}</th>
                <th>{{ 'plane' | translate }}</th>
                <th>{{ 'stewards' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in flights">
                <td>{{ item.origin }}</td>
                <td>{{ item.destination }}</td>
                <td>{{ item.departure }}</td>
                <td>{{ item.arrival }}</td>
                <td>{{ item.capacity }}</td>
                <td>{{ item.plane }}</td>
                <td>{{ item.stewards }}</td>
                <td>
                    <a class="btn btn-default" href="index.html#/flight/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="index.html#/flight/delete/{{item.id}}">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>