<div ng-app="" ng-controller="PlaneController"> 
    <h2>{{ 'planeManage' | translate }}</h2>
    
    <a class="btn btn-success" href="index.html#/plane/create">
        <span class="glyphicon glyphicon-plus"></span> {{ 'create' | translate }}
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'type' | translate }}</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'capacity' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in planes">
                <td>{{ item.type }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.capacity }}</td>
                <td>
                    <a class="btn btn-default" href="index.html#/plane/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="index.html#/plane/delete/{{item.id}}">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>    
</div>