<div ng-app="" ng-controller="PlaneController"> 
    <h3>{{ 'planeManage' | translate }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'id' | translate }}</th>
                <th>{{ 'type' | translate }}</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'capacity' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in planes">
                <td>{{ item.Id }}</td>
                <td>{{ item.Type }}</td>
                <td>{{ item.Name }}</td>
                <td>{{ item.Capacity }}</td>
                <td>
                    <a class="btn" href="plane/edit/{{item.Id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn" href="plane/delete/{{item.Id}}">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>    
</div>