<div ng-app="" ng-controller="StewardController"> 
    <h2>{{ 'stewardManage' | translate }}</h2>
    <span class="info {{result}}">{{ result | translate }}</span>
    
    <a class="btn btn-success" href="index.html#/steward/create">
        <span class="glyphicon glyphicon-plus"></span> {{ 'create' | translate }}
    </a>
    
    <table class="table table-striped" ng-show="stewards.length > 0">
        <thead>
            <tr>
                <th>{{ 'firstName' | translate }}</th>
                <th>{{ 'lastName' | translate }}</th>
                <th class="action">{{ 'edit' | translate }}</th>
                <th class="action">{{ 'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in stewards">
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }}</td>
                <td>
                    <a class="btn btn-default" href="index.html#/steward/edit/{{item.id}}">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'edit' | translate }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" link="" ng-click="deleteSteward(item.id, ('deleteMsg' | translate))">
                        <span class="glyphicon glyphicon-trash"></span> {{ 'delete' | translate }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p class="empty" ng-hide="stewards.length > 0">{{ 'emptyTable' | translate }}.</p>
    
</div>